@media only screen and (max-width: 786px) {

    main{
        background-image: url('./assets/images/mobileBGLayer.jpg');
    }
    .leftTopBannerLogo{
        margin: 0 auto;
        width: 100%;
    }
    .rightTopBannerLogo{
        display: none;
    }
    .leftBottomBannerLogo{
        margin: 0 auto;
        width: 100%;
    }
    .subscription,.snacksBannerLogo{
       background-color: #161a1ec9;
       background-image: none;
        padding: 3%;
        background-size: contain;
        text-align: center;
        background-repeat: no-repeat;
        border: 5px solid #6ab5ca;
    }
    .subscription div{
        margin: 0%;
        padding: 5%;
    }
    .subscription input{
        width: 100%;
    }
    .subscription button{
    width: 100%;
    }
    .snacksBannerLogo h4,p{
        text-align: center;
        float: none;
        width: 100% !important;
    }
    .xbox{
        position: relative;
        left: 5%;
        height: auto !important; 
        width: 150px !important;
        top: -100px;
    }
    .game{
        position: relative;
        height: 100% !important;
        width: 150px !important;
        margin: 0 auto;
        top: -50px;
    }
    .checkboxes img{
        width: 100%;
    }
    .modal-content{
        width: 90% !important;
    }
  }